body {
    background-color: #fdf8e5;
    margin: 2vh;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#banner {
    display: flex;
    justify-content: center;
}